.AuthPage {
    background-image: url('http://localhost:3000/img/logo.jpg');
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2vmin;
  }
  
  .AuthPage h3 {
    margin-top: 4vmin;
    text-align: center;
    color: #687475;
    cursor: pointer;
  }

