.MenuListItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2vmin;
    padding: 1.7vmin;
    color: lightgray;
    background-color: var(--white);
    border: .1vmin solid white;
    border-radius: .3vmin;
    font-size: 4vmin;
  }
  
.MenuListItem .image {
  height: 7vmin;
}
  
  .MenuListItem .buy {
    display: flex;
    flex-direction: column;
  }
  
  .MenuListItem .buy span {
    font-size: 1vw;
    text-align: center;
    color: var(--text-light);
  }
  
  .MenuListItem .name {
    font-size: 1.3vw;
    text-align: left;
    color: black;
  }